<section id="about" class="about">
    <div class="flex px-4 lg:px-40 mb-52">
        <img 
        class="w-52 h-96 lg:[225] lg:w-[300px] lg:h-[450px] rounded-2xl"
        src="/banner.jfif" 
        alt="sobre nosotros">
        <div class="ml-8 relative">
            <h1 class=" font-bold text-3xl lg:text-5xl mb-5">Sobre Nosotro</h1>
            <p class="text-sm sm:text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum consequuntur, ratione iure impedit quibusdam explicabo, quam magni perferendis natus doloremque quia ducimus porro, adipisci sapiente vitae quidem sequi esse ut!</p>
            <p class="text-xs sm:text-sm absolute bottom-0 right-0">Lorem ipsum dolor sit.</p>
        </div>
    </div>
</section>